In [7]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Akash\OneDrive\Desktop\US_Accidents_March23.csv")

In [8]:
df.isna().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [9]:
df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [10]:
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [11]:
print(df.shape)
df.drop(columns=['ID','End_Lat','End_Lng','Wind_Chill(F)','Precipitation(in)','Turning_Loop','Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal','Airport_Code'],inplace=True)
print(df.shape)

(7728394, 46)
(7728394, 27)

In [12]:
df.describe()

,Severity,Start_Lat,Start_Lng,Distance(mi),Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph)
count,7.728394e+06,7.728394e+06,7.728394e+06,7.728394e+06,7.564541e+06,7.554250e+06,7.587715e+06,7.551296e+06,7.157161e+06
mean,2.212384e+00,3.620119e+01,-9.470255e+01,5.618423e-01,6.166329e+01,6.483104e+01,2.953899e+01,9.090376e+00,7.685490e+00
std,4.875313e-01,5.076079e+00,1.739176e+01,1.776811e+00,1.901365e+01,2.282097e+01,1.006190e+00,2.688316e+00,5.424983e+00
min,1.000000e+00,2.455480e+01,-1.246238e+02,0.000000e+00,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.339963e+01,-1.172194e+02,0.000000e+00,4.900000e+01,4.800000e+01,2.937000e+01,1.000000e+01,4.600000e+00
50%,2.000000e+00,3.582397e+01,-8.776662e+01,3.000000e-02,6.400000e+01,6.700000e+01,2.986000e+01,1.000000e+01,7.000000e+00
75%,2.000000e+00,4.008496e+01,-8.035368e+01,4.640000e-01,7.600000e+01,8.400000e+01,3.003000e+01,1.000000e+01,1.040000e+01
max,4.000000e+00,4.900220e+01,-6.711317e+01,4.417500e+02,2.070000e+02,1.000000e+02,5.863000e+01,1.400000e+02,1.087000e+03

In [13]:
df.head()

,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Street,City,...,Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,Dayton,...,91.0,29.68,10.0,Calm,NaN,Light Rain,Night,Night,Night,Night
1,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,Reynoldsburg,...,100.0,29.65,10.0,Calm,NaN,Light Rain,Night,Night,Night,Day
2,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,Williamsburg,...,100.0,29.67,10.0,SW,3.5,Overcast,Night,Night,Day,Day
3,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,Dayton,...,96.0,29.64,9.0,SW,4.6,Mostly Cloudy,Night,Day,Day,Day
4,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,Dayton,...,89.0,29.65,6.0,SW,3.5,Mostly Cloudy,Day,Day,Day,Day

In [14]:
df=df.dropna()
df.shape

(7051556, 27)

In [15]:
cat_columns=df.select_dtypes(include='object')
num_columns=df.select_dtypes(exclude='object')

In [16]:
num_columns=df.select_dtypes(exclude='object')

In [17]:
df.drop(columns=['Humidity(%)','Visibility(mi)'],inplace=True)

In [18]:
categorical=['Sunrise_Sunset','Civil_Twilight','Nautical_Twilight','Astronomical_Twilight']

In [19]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in categorical:
    df[col]=le.fit_transform(df[col])

In [20]:
df

,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Street,City,...,Weather_Timestamp,Temperature(F),Pressure(in),Wind_Direction,Wind_Speed(mph),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
2,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.010,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,Williamsburg,...,2016-02-08 06:56:00,36.0,29.67,SW,3.5,Overcast,1,1,0,0
3,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.010,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,Dayton,...,2016-02-08 07:38:00,35.1,29.64,SW,4.6,Mostly Cloudy,1,0,0,0
4,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.010,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,Dayton,...,2016-02-08 07:53:00,36.0,29.65,SW,3.5,Mostly Cloudy,0,0,0,0
5,Source2,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,0.010,Accident on I-270 Outerbelt Northbound near Ex...,Westerville Rd,Westerville,...,2016-02-08 07:51:00,37.9,29.63,SSW,3.5,Light Rain,0,0,0,0
6,Source2,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,0.000,Accident on Oakridge Dr at Woodward Ave. Expec...,N Woodward Ave,Dayton,...,2016-02-08 07:56:00,34.0,29.66,WSW,3.5,Overcast,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,0.543,At Market St - Accident.,Pomona Fwy E,Riverside,...,2019-08-23 17:53:00,86.0,28.92,W,13.0,Fair,0,0,0,0
7728390,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,0.338,At Camino Del Rio/Mission Center Rd - Accident.,I-8 W,San Diego,...,2019-08-23 18:53:00,70.0,29.39,SW,6.0,Fair,0,0,0,0
7728391,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,0.561,At Glassell St/Grand Ave - Accident. in the ri...,Garden Grove Fwy,Orange,...,2019-08-23 18:53:00,73.0,29.74,SSW,10.0,Partly Cloudy,0,0,0,0
7728392,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,San Diego Fwy S,Culver City,...,2019-08-23 18:51:00,71.0,29.62,SW,8.0,Fair,0,0,0,0
7728393,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,0.537,At Highland Ave/Arden Ave - Accident.,CA-210 W,Highland,...,2019-08-23 20:50:00,79.0,28.63,SW,7.0,Fair,0,0,0,0

In [21]:
num_columns=df.select_dtypes(exclude='object')
num_columns.corr()

,Severity,Start_Lat,Start_Lng,Distance(mi),Temperature(F),Pressure(in),Wind_Speed(mph),Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
Severity,1.000000,0.071883,0.057998,0.033282,-0.017934,0.034489,0.040276,0.000973,0.001454,0.001429,-0.001238
Start_Lat,0.071883,1.000000,-0.074890,0.064522,-0.446132,-0.200097,0.032140,0.044886,0.038884,0.030601,0.027523
Start_Lng,0.057998,-0.074890,1.000000,0.004991,-0.009559,0.199740,0.078248,-0.048610,-0.053317,-0.053855,-0.056401
Distance(mi),0.033282,0.064522,0.004991,1.000000,-0.055988,-0.090403,0.008747,0.014124,0.013878,0.013846,0.014386
Temperature(F),-0.017934,-0.446132,-0.009559,-0.055988,1.000000,0.120057,0.034585,-0.310418,-0.283176,-0.255700,-0.234615
Pressure(in),0.034489,-0.200097,0.199740,-0.090403,0.120057,1.000000,-0.022284,-0.032881,-0.033591,-0.033356,-0.032435
Wind_Speed(mph),0.040276,0.032140,0.078248,0.008747,0.034585,-0.022284,1.000000,-0.181594,-0.169558,-0.154636,-0.140397
Sunrise_Sunset,0.000973,0.044886,-0.048610,0.014124,-0.310418,-0.032881,-0.181594,1.000000,0.892026,0.778496,0.682459
Civil_Twilight,0.001454,0.038884,-0.053317,0.013878,-0.283176,-0.033591,-0.169558,0.892026,1.000000,0.872676,0.765150
Nautical_Twilight,0.001429,0.030601,-0.053855,0.013846,-0.255700,-0.033356,-0.154636,0.778496,0.872676,1.000000,0.876781
Astronomical_Twilight,-0.001238,0.027523,-0.056401,0.014386,-0.234615,-0.032435,-0.140397,0.682459,0.765150,0.876781,1.000000

In [22]:
df.drop(columns=['Civil_Twilight','Nautical_Twilight','Astronomical_Twilight'],inplace=True)
df.shape

(7051556, 22)

In [23]:
df['Country'].nunique()

1

In [24]:
df.drop(columns=['Country','Description'],inplace=True)
df.head()

,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Street,City,County,State,Zipcode,Timezone,Weather_Timestamp,Temperature(F),Pressure(in),Wind_Direction,Wind_Speed(mph),Weather_Condition,Sunrise_Sunset
2,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,State Route 32,Williamsburg,Clermont,OH,45176,US/Eastern,2016-02-08 06:56:00,36.0,29.67,SW,3.5,Overcast,1
3,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,I-75 S,Dayton,Montgomery,OH,45417,US/Eastern,2016-02-08 07:38:00,35.1,29.64,SW,4.6,Mostly Cloudy,1
4,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,Miamisburg Centerville Rd,Dayton,Montgomery,OH,45459,US/Eastern,2016-02-08 07:53:00,36.0,29.65,SW,3.5,Mostly Cloudy,0
5,Source2,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,0.01,Westerville Rd,Westerville,Franklin,OH,43081,US/Eastern,2016-02-08 07:51:00,37.9,29.63,SSW,3.5,Light Rain,0
6,Source2,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,0.00,N Woodward Ave,Dayton,Montgomery,OH,45417-2476,US/Eastern,2016-02-08 07:56:00,34.0,29.66,WSW,3.5,Overcast,0

In [25]:
df['Start_Time'] = df['Start_Time'].str.split('.').str[0]
df['End_Time'] = df['End_Time'].str.split('.').str[0]

In [26]:
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')
df['End_Time'] = pd.to_datetime(df['End_Time'], errors='coerce')

In [27]:
print(df['Start_Time'].isnull().sum())
print(df['End_Time'].isnull().sum())

0
0

In [28]:
df['Temp_Bin'] = pd.cut(df['Temperature(F)'], bins=[-200, 51, 81, 200], labels=['Cold', 'Moderate', 'Hot'])

In [29]:
df.head()

,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Street,City,County,...,Zipcode,Timezone,Weather_Timestamp,Temperature(F),Pressure(in),Wind_Direction,Wind_Speed(mph),Weather_Condition,Sunrise_Sunset,Temp_Bin
2,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,State Route 32,Williamsburg,Clermont,...,45176,US/Eastern,2016-02-08 06:56:00,36.0,29.67,SW,3.5,Overcast,1,Cold
3,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,I-75 S,Dayton,Montgomery,...,45417,US/Eastern,2016-02-08 07:38:00,35.1,29.64,SW,4.6,Mostly Cloudy,1,Cold
4,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,Miamisburg Centerville Rd,Dayton,Montgomery,...,45459,US/Eastern,2016-02-08 07:53:00,36.0,29.65,SW,3.5,Mostly Cloudy,0,Cold
5,Source2,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,0.01,Westerville Rd,Westerville,Franklin,...,43081,US/Eastern,2016-02-08 07:51:00,37.9,29.63,SSW,3.5,Light Rain,0,Cold
6,Source2,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,0.00,N Woodward Ave,Dayton,Montgomery,...,45417-2476,US/Eastern,2016-02-08 07:56:00,34.0,29.66,WSW,3.5,Overcast,0,Cold

In [30]:
df['Hour'] = df['Start_Time'].dt.hour
df['Day_of_Week'] = df['Start_Time'].dt.dayofweek 
df['Month'] = df['Start_Time'].dt.month
df['Duration'] = (df['End_Time'] - df['Start_Time']).dt.total_seconds() / 60

In [31]:
df['Weather_Condition'].unique()

array(['Overcast', 'Mostly Cloudy', 'Light Rain', 'Rain', 'Light Snow',
       'Haze', 'Scattered Clouds', 'Partly Cloudy', 'Clear', 'Snow',
       'Light Freezing Drizzle', 'Light Drizzle', 'Fog', 'Shallow Fog',
       'Heavy Rain', 'Light Freezing Rain', 'Cloudy', 'Drizzle',
       'Light Rain Showers', 'Smoke', 'Patches of Fog', 'Mist',
       'Light Freezing Fog', 'Light Haze', 'Light Thunderstorms and Rain',
       'Thunderstorms and Rain', 'Fair', 'Blowing Sand',
       'Blowing Dust / Windy', 'Widespread Dust', 'Fair / Windy',
       'Rain Showers', 'Light Rain / Windy', 'Hail', 'Heavy Drizzle',
       'Showers in the Vicinity', 'Light Rain Shower',
       'Light Rain with Thunder', 'Mostly Cloudy / Windy',
       'Partly Cloudy / Windy', 'Thunder in the Vicinity', 'T-Storm',
       'Heavy Thunderstorms and Rain', 'Thunderstorm', 'Thunder',
       'Heavy T-Storm', 'Funnel Cloud', 'Heavy T-Storm / Windy',
       'Blowing Snow', 'Light Thunderstorms and Snow', 'Heavy Snow',
       'Low Drifting Snow', 'Light Ice Pellets', 'Ice Pellets', 'Squalls',
       'N/A Precipitation', 'Cloudy / Windy', 'Snow Grains', 'Light Fog',
       'Snow Showers', 'Heavy Thunderstorms and Snow', 'Rain / Windy',
       'Heavy Rain / Windy', 'Heavy Ice Pellets', 'Light Snow / Windy',
       'Heavy Freezing Rain', 'Small Hail', 'Heavy Rain Showers',
       'Thunder / Windy', 'Drizzle and Fog', 'T-Storm / Windy',
       'Blowing Dust', 'Smoke / Windy', 'Haze / Windy', 'Tornado',
       'Light Drizzle / Windy', 'Widespread Dust / Windy', 'Wintry Mix',
       'Wintry Mix / Windy', 'Light Snow with Thunder', 'Fog / Windy',
       'Light Snow Shower', 'Sleet', 'Light Snow and Sleet',
       'Rain Shower', 'Snow and Sleet', 'Snow / Windy', 'Light Sleet',
       'Heavy Snow / Windy', 'Freezing Drizzle',
       'Light Freezing Rain / Windy', 'Thunder / Wintry Mix',
       'Blowing Snow / Windy', 'Freezing Rain',
       'Light Snow and Sleet / Windy', 'Snow and Sleet / Windy',
       'Sleet / Windy', 'Heavy Freezing Rain / Windy', 'Squalls / Windy',
       'Light Rain Shower / Windy', 'Snow and Thunder / Windy',
       'Light Sleet / Windy', 'Sand / Dust Whirlwinds', 'Drizzle / Windy',
       'Sand / Dust Whirls Nearby', 'Thunder and Hail', 'Heavy Sleet',
       'Freezing Rain / Windy', 'Partial Fog',
       'Thunder / Wintry Mix / Windy', 'Patches of Fog / Windy',
       'Rain and Sleet', 'Light Snow Grains', 'Partial Fog / Windy',
       'Sand / Dust Whirlwinds / Windy', 'Snow and Thunder',
       'Heavy Snow with Thunder', 'Light Snow Showers',
       'Heavy Blowing Snow', 'Light Hail',
       'Heavy Thunderstorms with Small Hail', 'Light Thunderstorm',
       'Heavy Freezing Drizzle', 'Light Blowing Snow',
       'Thunderstorms and Snow', 'Dust Whirls', 'Mist / Windy',
       'Rain Shower / Windy', 'Sleet and Thunder',
       'Heavy Sleet and Thunder', 'Drifting Snow / Windy',
       'Shallow Fog / Windy', 'Thunder and Hail / Windy',
       'Light Snow Shower / Windy', 'Heavy Sleet / Windy', 'Sand / Windy',
       'Heavy Rain Shower / Windy', 'Blowing Snow Nearby',
       'Heavy Rain Shower', 'Drifting Snow'], dtype=object)

In [32]:
def group_weather_conditions(condition):
    if pd.isna(condition):
        return 'Unknown'
    elif 'Clear' in condition or 'Fair' in condition:
        return 'Clear'
    elif 'Rain' in condition or 'Drizzle' in condition:
        return 'Rain'
    elif 'Snow' in condition or 'Sleet' in condition:
        return 'Snow'
    elif 'Fog' in condition or 'Haze' in condition:
        return 'Fog'
    elif 'Thunder' in condition or 'Storm' in condition:
        return 'Thunderstorm'
    elif 'Dust' in condition or 'Sand' in condition:
        return 'Dusty'
    else:
        return 'Other'

df['Weather_Group'] = df['Weather_Condition'].apply(group_weather_conditions)

In [33]:
df.head()

,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Street,City,County,...,Wind_Direction,Wind_Speed(mph),Weather_Condition,Sunrise_Sunset,Temp_Bin,Hour,Day_of_Week,Month,Duration,Weather_Group
2,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,State Route 32,Williamsburg,Clermont,...,SW,3.5,Overcast,1,Cold,6,0,2,30.0,Other
3,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,I-75 S,Dayton,Montgomery,...,SW,4.6,Mostly Cloudy,1,Cold,7,0,2,30.0,Other
4,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,Miamisburg Centerville Rd,Dayton,Montgomery,...,SW,3.5,Mostly Cloudy,0,Cold,7,0,2,30.0,Other
5,Source2,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,0.01,Westerville Rd,Westerville,Franklin,...,SSW,3.5,Light Rain,0,Cold,7,0,2,30.0,Rain
6,Source2,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,0.00,N Woodward Ave,Dayton,Montgomery,...,WSW,3.5,Overcast,0,Cold,7,0,2,30.0,Other

In [34]:
df.drop(columns=['Start_Time','End_Time','County','State','Weather_Condition','Temperature(F)','Street','City','Zipcode'],inplace=True)
df.shape

(7051556, 17)

In [35]:
df.isna().sum()

Source               0
Severity             0
Start_Lat            0
Start_Lng            0
Distance(mi)         0
Timezone             0
Weather_Timestamp    0
Pressure(in)         0
Wind_Direction       0
Wind_Speed(mph)      0
Sunrise_Sunset       0
Temp_Bin             0
Hour                 0
Day_of_Week          0
Month                0
Duration             0
Weather_Group        0
dtype: int64

In [36]:
df.drop(columns=['Weather_Timestamp','Wind_Direction'],inplace=True)
df.head()

,Source,Severity,Start_Lat,Start_Lng,Distance(mi),Timezone,Pressure(in),Wind_Speed(mph),Sunrise_Sunset,Temp_Bin,Hour,Day_of_Week,Month,Duration,Weather_Group
2,Source2,2,39.063148,-84.032608,0.01,US/Eastern,29.67,3.5,1,Cold,6,0,2,30.0,Other
3,Source2,3,39.747753,-84.205582,0.01,US/Eastern,29.64,4.6,1,Cold,7,0,2,30.0,Other
4,Source2,2,39.627781,-84.188354,0.01,US/Eastern,29.65,3.5,0,Cold,7,0,2,30.0,Other
5,Source2,3,40.100590,-82.925194,0.01,US/Eastern,29.63,3.5,0,Cold,7,0,2,30.0,Rain
6,Source2,2,39.758274,-84.230507,0.00,US/Eastern,29.66,3.5,0,Cold,7,0,2,30.0,Other

In [37]:

numeric_cols=['Distance(mi)','Wind_Speed(mph)','Pressure(in)']

In [38]:

Q1 = df[numeric_cols].quantile(0.20)
Q3 = df[numeric_cols].quantile(0.80)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = ((df[numeric_cols] < lower_bound) | (df[numeric_cols] > upper_bound)).any(axis=1)
df_cleaned = df[~outliers]
print(f"Removed {outliers.sum()} outliers.")

Removed 920514 outliers.

In [39]:
df.shape

(7051556, 15)

In [40]:
df1=df.copy()

In [41]:

cat_cols=['Source','Timezone','Weather_Group','Temp_Bin']
df[cat_cols]=df[cat_cols].astype('category')

In [42]:
df=pd.get_dummies(df,columns=cat_cols).astype(int)
df.head()

,Severity,Start_Lat,Start_Lng,Distance(mi),Pressure(in),Wind_Speed(mph),Sunrise_Sunset,Hour,Day_of_Week,Month,...,Weather_Group_Clear,Weather_Group_Dusty,Weather_Group_Fog,Weather_Group_Other,Weather_Group_Rain,Weather_Group_Snow,Weather_Group_Thunderstorm,Temp_Bin_Cold,Temp_Bin_Moderate,Temp_Bin_Hot
2,2,39,-84,0,29,3,1,6,0,2,...,0,0,0,1,0,0,0,1,0,0
3,3,39,-84,0,29,4,1,7,0,2,...,0,0,0,1,0,0,0,1,0,0
4,2,39,-84,0,29,3,0,7,0,2,...,0,0,0,1,0,0,0,1,0,0
5,3,40,-82,0,29,3,0,7,0,2,...,0,0,0,0,1,0,0,1,0,0
6,2,39,-84,0,29,3,0,7,0,2,...,0,0,0,1,0,0,0,1,0,0

In [43]:
X=df.drop(columns=['Severity'])
y=df['Severity']

In [44]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
X_scaled=scale.fit_transform(X)
X_scaled

array([[ 0.64998398,  0.58237576, -0.22679399, ...,  1.61451571,
        -1.15817703, -0.41981196],
       [ 0.64998398,  0.58237576, -0.22679399, ...,  1.61451571,
        -1.15817703, -0.41981196],
       [ 0.64998398,  0.58237576, -0.22679399, ...,  1.61451571,
        -1.15817703, -0.41981196],
       ...,
       [-0.51704506, -1.32302759, -0.22679399, ..., -0.61938078,
         0.86342586, -0.41981196],
       [-0.51704506, -1.38076708, -0.22679399, ..., -0.61938078,
         0.86342586, -0.41981196],
       [-0.32254022, -1.32302759, -0.22679399, ..., -0.61938078,
         0.86342586, -0.41981196]])

In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier  
from sklearn.metrics import accuracy_score


X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=42)

model = RandomForestClassifier(random_state=42)

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [46]:
print(accuracy_score(y_test,y_pred))

0.8451876436916902

In [47]:
X_val,X_test_val,y_val,y_test_val=train_test_split(X_test,y_test,test_size=0.4,random_state=42)
y_pred_val=model.predict(X_val)
y_test_val=model.predict(X_test_val)
print(accuracy_score(y_val,y_pred_val))
print(accuracy_score(y_test_val,y_test_val))

0.8452369359753359
1.0

In [48]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression(random_state=42)

model1.fit(X_train, y_train)
y_pred = model1.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.806726912471517

In [49]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       0.20      0.00      0.00     16343
           2       0.81      0.99      0.89   1417602
           3       0.59      0.05      0.09    284456
           4       0.20      0.00      0.00     44488

    accuracy                           0.81   1762889
   macro avg       0.45      0.26      0.25   1762889
weighted avg       0.75      0.81      0.73   1762889